/* texto responsivo */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-size: 1rem;
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#taskList {
  height: 20rem;
  overflow: auto;
  padding: 1rem;
}
#taskinput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

#main-form {
  justify-content: center;
  display: flex;
  padding: 0%;
}

#task-counter-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
:root {
  color-scheme: light dark;
  --bg-color: light-dark(white, black);
  --border-color: light-dark(#d6d9dc, #515354);
  --text-color: light-dark(black, white);
  --btn-text-color: light-dark(white, black);
  --width-page: 80rem;
}
